<h2>DASHBOAD</h2>

<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
        <button ng-click="vm.socialAuthenticate('facebook')" class="btn col-xs-12" style="margin-top:5px;">Link Facebook</button>
        <button ng-click="vm.socialAuthenticate('google')" class="btn col-xs-12" style="margin-top:5px;">Link Google</button>
        <button ng-click="vm.socialAuthenticate('instagram')" class="btn col-xs-12" style="margin-top:5px;">Link Instagram</button>
        <br>
        <!--<button ng-click="vm.getSocialPhotos('facebook')" class="btn col-xs-12" style="margin-top:5px;">Get Facebook Photos</button>-->
    </div>


</div>
