<div class="ptt-sidebar-content-2 sidemenu-filters">
  <div class="filter" ng-repeat="filter in vm.camanFilters">
    <img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">
    <img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}"  alt="">
    <p>{{filter}}</p>
  </div>
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Lomo</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Clarity</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Sin City</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Sunrise</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Nostalgia</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Hemingway</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Grungy</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Jarques</p>-->
  <!--</div>-->
  <!--<div class="filter">-->
    <!--<img ng-if="!vm.selectedPhoto.base64" src="images/sidemenu/filters/normal.png" alt="">-->
    <!--<img ng-if="vm.selectedPhoto.base64" src="{{vm.selectedPhoto.base64}}" alt="">-->
    <!--<p>Pinhole</p>-->
  <!--</div>-->
</div>

<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/brannan.png" alt="">-->
<!--<p>Brannan</p>-->
<!--</div>-->
<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/birdeye.png" alt="">-->
<!--<p>Birdeye</p>-->
<!--</div>-->
<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/gotham.png" alt="">-->
<!--<p>Gotham</p>-->
<!--</div>-->
<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/inkwell.png" alt="">-->
<!--<p>Inkwell</p>-->
<!--</div>-->
<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/lord kalvin.png" alt="">-->
<!--<p>Lord Kalvin</p>-->
<!--</div>-->
<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/toaster.png" alt="">-->
<!--<p>Toaster</p>-->
<!--</div>-->
<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/walden.png" alt="">-->
<!--<p>Walden</p>-->
<!--</div>-->
<!--<div class="filter">-->
<!--<img src="images/sidemenu/filters/normal.png" alt="">-->
<!--<p>Normal</p>-->
<!--</div>-->
</div>

<script>
  $(document).ready(function(){
    setTimeout(function () {
      $(".sidemenu-filters div.filter").css('opacity', 1);
      Caman("#vintage", function () {
        this[element]();
        this.render();
      });
    }, 500);
  });
</script>
