body.app{

  /*
  Step 3
  */
  .step3{
    //margin: 51px;
    //background: white;
    //border-radius: 16px;
    //border: 3px solid $border-color;

    background-color: $body-bkg-color;
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
    padding: 3.5% 4% 3.598%;
    .row-main{
      height: 100%;
      position: relative;
    }
    .row{
      margin:0;
    }
    .col-main{
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 7px 10px 0px rgba(239, 243, 246, 0.9);
      border-radius: 12px;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    .header{
      border-bottom: 2px solid $border-color;
      margin: 0;
      padding: 20px 15px;
      border-bottom: 2px solid #e7ecf1;
      .title{
        color: $btn-bkg-color;
        font-size: 24px;
        font-weight:bold;
        letter-spacing: 0.6px;
      }
      span{
        margin: 0 10px;
        padding-top: 8px;
      }
      .edit-order, .view-history{

        a{
          color: $view-history-color !important;
          font-family: Font_Open_Sans_Bold;
          text-decoration: none;

          &.active{
            color: #65e0e4 !important;
            &.underline{
              text-decoration: underline;
            }
          }
        }

      }

      a.active, a:hover, a:focus, a:active {
        text-decoration: none;
        color: $anchor-dark-hover;
      }
      //a.hover-underline:hover, a.hover-underline:focus, a.hover-underline:active {
      //  text-decoration: underline;
      //}
      //a.underline{
      //  text-decoration: underline;
      //}
    }

    /* view summary */
    .content.view-summary{
      min-height: 452px;
      overflow: hidden;
      overflow-y: scroll;
      height: 100%;
      padding-bottom: 146px;
      .col-sm-4{
        margin: 0;
        padding: 74px 0;
        //padding-top: 50px;
        min-height: 452px;
        p{
          margin: 0;
          position: absolute;
          width: 100%;
          color: #9d9d9d;
          font-size: 18px;
          font-family: Font_Open_Sans_Bold;
          //margin-bottom: -5px;
          bottom: 52px;
          text-align: center;
        }
        div.square{
          width: 258px;
          height: 258px;
          border-style: solid;
          border-width: 1px;
          border-color: rgba(0, 0, 0, 0.18);
          background-color: #f9f9f9;
          //opacity: 0.18;
          position: absolute;
          cursor: pointer;
          overflow: hidden;
          transition: 0.8s;
          left: 50%;
          margin-left: -126px;
          img:not(.loader-fb-album){
            height: 100%;
          }
        }
        div.square:nth-child(1){
          transform: rotate(-19deg);
        }
        div.square:nth-child(2){
          transform: rotate(-15deg);
        }
        div.square:nth-child(3){
          transform: rotate(-10deg);
        }
        div.square:nth-child(4){
        }

        .badge-custom{
          position: absolute;
          top: 57px;
          left: 50%;
          z-index: 1000;
          border-radius: 100%;
          /* padding: 13px 18px; */
          font-size: 26px;
          text-align: center;
          width: 50px;
          height: 50px;
          padding-top: 12px;
          background-color: #65e0e4;
          font-family: Font_Open_Sans_Bold;
          margin-left: 105px;
        }
      }
      // Animation
      div.col-sm-4:hover div.square:nth-child(1){
        transform: rotate(0deg);
      }
      div.col-sm-4:hover div.square:nth-child(2){
        transform: rotate(0deg);
      }
      div.col-sm-4:hover div.square:nth-child(3){
        transform: rotate(0deg);
      }



    }

    /* edit order */
    .content.edit-order {
      min-height: 452px;
      overflow: hidden;
      overflow-y: scroll;
      height: 100%;
      text-align: left;
      position: relative;
      padding: 10px 0;
      padding-bottom: 146px;
      margin-right: 11px;

      //padding: 0 6px 0 22px;

      div.img{
        position: relative;
        display: inline-block;
        //width: 9.6%;
        height: 133px;
        border: none;
        overflow: hidden;
        //background-color: rgb(204, 204, 204);
        text-align: center;
        margin: 0 8.5px 16px 8.5px;
        transition: width 0.8s;
        img{
          height: 100%;
        }

      }
      .expand-text{
        background-color: rgba(240, 242, 242, 0.5);
        position: absolute;
        height: 32px;
        top: -42px;
        width: 134px;
        left: 50%;
        margin-left: -67px;
        padding: 6px 12px;
        transition: top 0.2s;
        color: $body-text-color;
        font-family: Font_Open_Sans_Bold;
        img{
          cursor: pointer;
        }
        .copy img{
          float: left;
          height: 20px;
          margin-left: 10px;
        }
        .dustbin img{
          float: right;
          height: 20px;
        }
      }

      div.img:hover div.expand-text {
        position: absolute;
        top: 0;
        z-index: 2;
      }

      .expand-tool{
        position: absolute;
        height: 22px;
        bottom: 8px;
        width: 134px;
        left: 50%;
        margin-left: -67px;
        color: $body-text-color;
        div.sign{
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.502);
          width: 20px;
          height: 20px;
          display: inline-block;
          text-align: center;
          line-height: 1.45;
          cursor: pointer;
        }
        input{
          width: 40px;
          background-color: rgb(255, 255, 255);
          border: 0;
          border-radius: 20px;
          text-align: center;
        }
      }

    }

    .footer{
      padding: 14px 31px 14px;
      border-top: 2px solid #e7ecf1;
      margin: 0;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 7px 10px 0px rgba(239, 243, 246, 0.9);
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      bottom: 0;
      position: absolute;
      width: 100%;
      font-family: Font_Myriad_Pro_Bold;
      .dark{
        color: #59626a;
      }
    }
  }

  /*
  Confirm Modal
  */
  #step3-confirm-modal{
    top: 80px;
    .modal-dialog{
      //margin: 50px 212px 50px 181px;
      margin: 50px 14.7% 50px 12.5%;
      width: auto;
      .btn-close{
        position: absolute;
        right: -26px;
        background: white;
        padding: 6px 8px;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        i{
          color: $body-bkg-color-2;
        }
      }
    }
    .modal-content{
      background-color: rgb(255,255,255);
      border: none;
      box-shadow: none;
      border-radius: 0px;
      .modal-body{
        padding: 0 78px;
        .details{
          border-right: 1.114px solid rgb(203, 206, 208);
          padding-top: 7px;
          padding-bottom: 7px;
          label{
            color: $form-input-text-color;
            font-weight: normal;
            font-family: Font_Open_Sans_Regular;
            font-size: 17px;
          }
          form{
            padding: 12px 0;
            div{
              padding: 0;
              padding-right: 21px;
            }
            .form-group{
              margin-bottom: 8px;
            }
            input{
              border-color: rgb(203, 206, 208);
              border-style: solid;
              border-radius: 5px;
              height: 52px;
            }
            .btn-submit{
              padding: 12px 21px;
              font-size: 16px;
              margin-top: 10px;
              margin-bottom: 8px;
            }
          }
        }
        .summary{
          padding-top: 7px;
          padding-bottom: 7px;
          padding-left: 34px;
          .summary-table{
            margin-top: 53px;
            .row{
              padding: 5px 0;
            }
            div{
              padding: 0;
              color: $form-input-text-color;
              font-weight: normal;
              font-family: Font_Open_Sans_Regular;
              font-size: 17px;
            }
            .total-row{
              margin-top: 16px;
              border-top: 1.114px solid rgb(203, 206, 208);
              .total{
                font-family: Font_Open_Sans_Bold;
              }
            }
          }
        }
        h3{
          color: #59626a;
          font-family: Font_Open_Sans_Bold;
          font-size: 20px;
          letter-spacing: -0.5px;
        }
      }
    }
  }
}
