<!--
Headers : Start
-->
<div ng-include="'src/dashboard/layouts/header.html'"></div>
<!--
Headers : End
-->

<!--
Content : Start
-->
<div class="step3">
    <div class="row row-main text-center">
        <div class="col-sm-12 col-main">
            <div class="row header">
                <div class="col-sm-5 text-left title">
                    Confirm Order
                </div>
                <div class="col-sm-7 text-right" style="padding-top: 8px;">
                    <span class="edit-order"><a href="" class="hover-underline" ng-class="{'active': vm.editOrder, 'underline': vm.editOrder}" ng-click="vm.showEditMode()">Edit Order</a></span>
                    <span class="view-history"><a href="" class="hover-underline" ng-class="{'active': !vm.editOrder, 'underline': !vm.editOrder}" ng-click="vm.showSummaryMode()">View Summary</a></span>
                </div>
            </div>

            <!-- View Summary -->
            <div class="row content view-summary" ng-show="!vm.editOrder">

                <div class="col-sm-4" ng-repeat="list in vm.list track by $index">
                    <span class="badge badge-custom">{{vm.listItem[list].length}}</span>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square">
                      <img ng-src="{{vm.listItem[list][0].url}}" alt="" ptt-loader="loader-fb-album" ng-click="vm.selectSize(list)">
                    </div>
                    <p>{{list}}</p>
                </div>
            </div>


            <!-- Edit Order -->
            <div class="row content edit-order" ng-show="vm.editOrder">
              <cart-item
                ng-repeat="item in vm.items"
                ng-if="(item.canvasSizeDetails.dimensions.title.inches == vm.selectedSize || vm.selectedSize === null)"
                item="item">
              </cart-item>
            </div>


        </div>
        <div class="footer">
            <button class="btn ptt-btn-blue pull-right" ng-click="vm.proceedToCheckout()">
                Proceed to Checkout
            </button>
            <button class="btn  ptt-btn-white pull-right dark" ng-click="vm.continueDesign()">
                Continue Designing
            </button>
        </div>
    </div>
</div>
<!--
Content : End
-->

<!--
Footer : Start
-->

<!--
Footer : End
-->
