<div class="ptt-sidebar-content-2 sidemenu-layouts">
    <div class="empty-images" ng-repeat="layout in layouts" ng-click="onSelect({layout: layout})" ng-if="layout.isActive">
        <img src="{{layout.url}}" alt="">
    </div>
    <!--<div class="empty-images">
        <img src="images/sidemenu/layouts/layout-5.png" alt="">
    </div>
    <div class="empty-images">
        <img src="images/sidemenu/layouts/layout-5.png" alt="">
    </div>
    <div class="empty-images">
        <img src="images/sidemenu/layouts/layout-5.png" alt="">
    </div>
    <div class="empty-images">
        <img src="images/sidemenu/layouts/layout-5.png" alt="">
    </div>
    <div class="empty-images">
        <img src="images/sidemenu/layouts/layout-5.png" alt="">
    </div>-->
</div>
