
<!-- STEP 1 -->
<div class="ptt-lightSlider step1-lightSlider" ng-if="step==1">

  <button class="thumbs-collapse-btn cursor-initial">
    <span>Total {{photos.length}} Photos</span>
  </button>

  <div class="custom-svg-icon left-arrow cursor-pointer">
    <img class="gray-left-arrow" ng-src="{{$root.safeTemplateUrlConvert('images/gray-left-arrow-slider.png')}}" alt="">
  </div>

  <ul id="step1-lightSlider">
    <li ng-repeat="photo in photos track by $index">
      <div class="backdrop"></div>
      <img ng-src="{{(photo.canvasDataUrl) ? photo.canvasDataUrl : convertUrl(photo)}}" alt="" ptt-loader="loader-fb-photo" keep-aspect-ratio="true">
      <img ng-click="(photo.deleting)?null:onDelete({id: photo._id})"
           class="white-cross" ng-class="{'delete-loader': photo.deleting}"
           ng-src="{{(photo.deleting)?$root.safeTemplateUrlConvert('svgs/ptt-loader.svg'):$root.safeTemplateUrlConvert('images/white-cross.png')}}"
           alt="X">
    </li>
    <!--ng-if="showUploadImage"-->
    <li class="cursor-pointer add-new-image" ngf-select="onSelectFiles({files: $files, invalidFiles: $invalidFiles})" ngf-max-size="{{$root.imageConstraints.maxSize}}" multiple accept="image/*" >
      <img ng-src="{{$root.safeTemplateUrlConvert('images/add_image.png')}}" alt="">
    </li>
  </ul>
  <div class="custom-svg-icon right-arrow cursor-pointer">
    <img class="gray-right-arrow" ng-src="{{$root.safeTemplateUrlConvert('images/gray-right-arrow-slider.png')}}" alt="">
  </div>

</div>

<!-- STEP 2 -->
<div class="ptt-lightSlider step2-lightSlider" ng-if="step==2">
  <button class="thumbs-collapse-btn" ng-click="onToggleExpandView()">
    <img ng-src="{{$root.safeTemplateUrlConvert('images/gray-expand.png')}}" alt="">
    <span>View All Photos</span>
  </button>

  <div class="custom-svg-icon left-arrow cursor-pointer">
    <img class="gray-left-arrow"  ng-src="{{$root.safeTemplateUrlConvert('images/gray-left-arrow-slider.png')}}" alt="">
  </div>

  <ul id="step2-lightSlider">
    <li ng-repeat="photo in photos track by $index" ng-class="{'selected': photo.selected}">
      <img ng-src="{{(photo.canvasDataUrl) ? photo.canvasDataUrl : convertUrl(photo)}}" draggable="true"
           id="photo{{$index}}"
           ng-click="onGetSelectPhoto({id: photo._id, index: $index})" alt="" ptt-loader="loader-fb-photo" keep-aspect-ratio="true"
           data-photoId="{{photo._id}}" data-index="{{$index}}">
    </li>
  </ul>

  <div class="custom-svg-icon right-arrow cursor-pointer">
    <img class="gray-right-arrow" ng-src="{{$root.safeTemplateUrlConvert('images/gray-right-arrow-slider.png')}}" alt="">
  </div>
</div>
