<div class="ptt-sidebar-content-2 sidemenu-stickers">
    <ul id="gallery-container">
        <li ng-repeat="sticker in stickers" ng-click="onSelect({sticker: sticker})">
            <img src="{{sticker.url}}" alt="">
        </li>
        <li ng-repeat="sticker in stickers" ng-click="onSelect({sticker: sticker})">
            <img src="{{sticker.url}}" alt="">
        </li>
        <li ng-repeat="sticker in stickers" ng-click="onSelect({sticker: sticker})">
            <img src="{{sticker.url}}" alt="">
        </li>
        <li ng-repeat="sticker in stickers" ng-click="onSelect({sticker: sticker})">
            <img src="{{sticker.url}}" alt="">
        </li>
    </ul>
</div>
