<!--
Headers : Start
-->
<div ng-include="'src/dashboard/layouts/header.html'"></div>
<!--
Headers : End
-->


<!--
Content : Start : Step 2
-->
<span class="step2-main">
<div class="ptt-content" id="ptt-wrapper">

    <!-- Main Sidebar : Start -->
    <div id="ptt-sidebar-wrapper">
        <!-- Action Icons 2 : Start -->
        <div class="action-icons-2">
            <div class="action-icon action-layout" ng-class="{'active': vm.activeSidemenuItem=='layouts'}" ng-click="vm.toggleSidemenu('layouts')" >
                <div class="custom-svg-icon gray-layout" ng-if="vm.activeSidemenuItem!='layouts'">
                    <img class="" alt="Layout" src="svgs/gray-layout.svg">
                </div>
                <div class="custom-svg-icon gray-layout" ng-if="vm.activeSidemenuItem=='layouts'">
                    <img class="" alt="Layout" src="svgs/blue-layout.svg">
                </div>
                <span class="title">Layout</span>
            </div>
            <div class="action-icon action-filter" ng-class="{'active': vm.activeSidemenuItem=='filters'}" ng-click="vm.toggleSidemenu('filters')">
                <div class="custom-svg-icon gray-filter" ng-if="vm.activeSidemenuItem!='filters'">
                    <img class="" alt="Filter" src="svgs/gray-filter.svg">
                </div>
                <div class="custom-svg-icon gray-filter" ng-if="vm.activeSidemenuItem=='filters'">
                    <img class="" alt="Filter" src="svgs/blue-filter.svg">
                </div>
                <span class="title">Filter</span>
            </div>
            <div class="action-icon action-text" ng-class="{'active': vm.activeSidemenuItem=='texts'}" ng-click="vm.toggleSidemenu('texts')">
                <div class="custom-svg-icon gray-text" ng-if="vm.activeSidemenuItem!='texts'">
                    <img class="" alt="image/svg+xml" src="svgs/gray-text.svg">
                </div>
                <div class="custom-svg-icon gray-text" ng-if="vm.activeSidemenuItem=='texts'">
                    <img class="" alt="image/svg+xml" src="svgs/blue-text.svg">
                </div>
                <span class="title">Text</span>
            </div>
            <div class="action-icon action-stickers" ng-class="{'active': vm.activeSidemenuItem=='stickers'}" ng-click="vm.toggleSidemenu('stickers')">
                <div class="custom-svg-icon gray-sticker" ng-if="vm.activeSidemenuItem!='stickers'">
                    <img class="" alt="image/svg+xml" src="svgs/gray-sticker.svg">
                </div>
                <div class="custom-svg-icon gray-sticker" ng-if="vm.activeSidemenuItem=='stickers'">
                    <img class="" alt="image/svg+xml" src="svgs/blue-sticker.svg">
                </div>
                <span class="title">Stickers</span>
            </div>
            <div class="action-icon action-add-photos" ui-sref="{{$root.app.productState + '.Upload'}}">
                <div class="custom-svg-icon gray-photos">
                    <img class="" alt="image/svg+xml" src="svgs/gray-photos.svg">
                </div>
                <span class="title">Add</span><br>
                <span class="title">Photos</span>
            </div>
        </div>
        <!-- Action Icons 2 : End -->
    </div>
    <!-- Main Sidebar : End -->

    <!-- Page Content -->
    <div id="ptt-content-wrapper">

        <!-- Action Icons 5 : Start -->
        <div class="action-icons-5">
            <div class="ptt-dropmenu dropup">
                <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"-->
                <button id="dLabel3" type="button" >
                    All Pictures
                    <span class="caret"></span>
                </button>
            </div>
                  <span class="count">
                    28 Photos
                  </span>
        </div>
        <!-- Action Icons 5 : End -->

        <div id="ptt-wrapper-2">

            <!-- Sub Sidebar : Start -->
            <div id="ptt-sidebar-wrapper-2">
                <!--<span ng-include="vm.sideMenuTemplate" ng-if="vm.activeSidemenuItem == 'layouts'"></span>-->
                <ptt-filters thumbnail="vm.selectedPhoto.thumbnail" on-select="vm.applyFilter(filter)"  ng-show="vm.activeSidemenuItem == 'filters'"></ptt-filters>
                <ptt-stickers on-select="vm.applySticker(sticker)" ng-show="vm.activeSidemenuItem == 'stickers'"></ptt-stickers>
                <ptt-texts on-select="vm.applyText(text)" ng-show="vm.activeSidemenuItem == 'texts'"></ptt-texts>
                <ptt-layouts on-select="vm.applyLayout(layout)" ng-show="vm.activeSidemenuItem == 'layouts'"></ptt-layouts>
                <button class="ptt-sidebar-2-close" ng-click="vm.closeSidemenu()">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
            <!-- Sub Sidebar : End -->

            <!-- Page Content -->
            <div id="ptt-content-wrapper-2">

                <!-- Action Icons 3 : Start -->
                <div class="action-icons-3">
                    <div class="custom-svg-icon gray-question">
                        <!--<object class="" type="image/svg+xml" data="svgs/gray-question.svg"></object>-->
                        <img src="svgs/gray-question.svg" alt="">
                    </div>
                    <div class="custom-svg-icon gray-share-white-bkg">
                        <!--<object class="" type="image/svg+xml" data="svgs/gray-share-white-bkg.svg"></object>-->
                        <!--<img src="svgs/gray-share-white-bkg.svg" alt="">-->
                        <img src="images/gray-share.png" alt="">
                    </div>
                    <div class="ptt-dropmenu dropdown">
                        <button id="dLabel2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="ptt-dropdown-color-1"></div>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ptt-colors" aria-labelledby="dLabel2">
                            <li class="">
                                <div class="ptt-dropdown-color-2"></div>
                            </li>
                            <li class="">
                                <div class="ptt-dropdown-color-3"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Action Icons 3 : End -->

                <!-- Action Icons 4 : Start -->
                <div class="action-icons-4">
                    <div ng-click="vm.copyCanvas()" class="custom-svg-icon gray-copy">
                        <img src="images/gray-copy.png" alt="">
                    </div>
                    <div ng-click="vm.deleteCanvas()" class="custom-svg-icon gray-delete">
                        <!--<object class="" type="image/svg+xml" data="svgs/gray-delete.svg"></object>-->
                        <img src="svgs/gray-delete.svg" alt="">
                    </div>
                    <div class="ptt-dropmenu dropup">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="vm.toggleDropdownVisibility('.action-icons-4 .ptt-dropmenu .dropdown-menu')">
                            8 x 8 inches
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li class="enlarge">
                                <div class="box-border">
                                    <div class="box">
                                        <img class="left-arrow" src="images/left-size-arrow.png" alt="">
                                        ENLARGED
                                        <img class="right-arrow" src="images/right-size-arrow.png" alt="">
                                    </div>
                                </div>
                                <div class="box-size">
                                    <p>L</p>
                                    <p>M</p>
                                    <p>S</p>
                                </div>
                            </li>
                            <li class="regular">
                                <div class="box-border">
                                    <div class="box">
                                        <img class="left-arrow" src="images/left-size-arrow.png" alt="">
                                        REGULAR
                                        <img class="right-arrow" src="images/right-size-arrow.png" alt="">
                                    </div>
                                </div>
                                <div class="box-size">
                                    <p>L</p>
                                    <p>M</p>
                                    <p>S</p>
                                </div>
                            <li class="square">
                                <div class="box-border">
                                    <div class="box">
                                        <img class="left-arrow" src="images/left-size-arrow.png" alt="">
                                        8 x 8
                                        <img class="right-arrow" src="images/right-size-arrow.png" alt="">

                                    </div>
                                </div>
                                <div class="box-size">
                                    <p>L</p>
                                    <p>M</p>
                                    <p>S</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Action Icons 4 : End -->

                <!-- Image Studio : Start -->
                <div id="image-studio">

                    <div class="element">
                        <div class="toolbar">
                            <div class="custom-svg-icon gray-border-none" ng-click="vm.applyBorder()">
                                <!--<object data="svgs/gray-border-none.svg" type=""></object>-->
                                <img src="svgs/gray-border-none.svg" alt="">
                            </div>
                            <div ng-click="vm.rotateAntiClockwise()" class="custom-svg-icon gray-rotate-l">
                                <!--<object data="svgs/gray-rotate-1.svg" type=""></object>-->
                                <img src="svgs/gray-rotate-1.svg" alt="">
                            </div>
                            <div ng-click="vm.rotateClockwise()" class="custom-svg-icon gray-rotate-r">
                                <!--<object data="svgs/gray-rotate-1.svg" type=""></object>-->
                                <img src="svgs/gray-rotate-1.svg" alt="">
                            </div>
                            <div ng-click="vm.flipHorizontal()" class="custom-svg-icon gray-flip-h">
                                <!--<object data="svgs/gray-flip-h.svg" type=""></object>-->
                                <img src="svgs/gray-flip-h.svg" alt="">
                            </div>
                            <div ng-click="vm.flipVertical()" class="custom-svg-icon gray-flip-v">
                                <!--<object data="svgs/gray-flip-v.svg" type=""></object>-->
                                <img src="svgs/gray-flip-v.svg" alt="">
                            </div>
                        </div>
                        <div ng-show="vm.showTextEditor">
                            <ptt-text-editor selected-object="vm.selectedObject"></ptt-text-editor>
                        </div>
                        <div class="editor">
                            <!-- Canvas -->
                            <canvas id="canvas" ng-show="vm.readyToDisplay"></canvas>
                            <!-- Hidden Image For Filter -->
                            <img id="caman-canvas" src="{{vm.selectedPhoto.original.base64}}" ng-if="vm.showCamanImg" style="z-index: -10;">
                        </div>
                        <div class="zoomBar">
                            <input id="ex4" type="text" data-slider-min="1" data-slider-max="2" data-slider-value="1.5" data-slider-step="0.02" data-slider-orientation="vertical"/>
                        </div>
                    </div>
                </div>
                <!-- Image Studio : End -->



            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

    </div>

    <!-- /#page-content-wrapper -->



</div>


<!-- Film Strip Thumbs : Start-->
<!--<div ng-include="'src/dashboard/prints/lightSlider2.html'"></div>-->
    <ptt-photo-strip
            photos="vm.myPhotos"
            show-upload-image=""
            step=2
            on-delete=""
            on-select=""
            on-select-files=""
            on-toggle-expand-view="vm.toggleExpandView()"
            on-get-select-photo="vm.getSelectPhoto(id, index)"
    >
    </ptt-photo-strip>
<!-- Film Strip Thumbs : End-->
</span>

<!--
Content : End : Step 2
-->


<!--
Content : Start : Step 2 B
-->
<div class="step2b">
    <div class="row step2b-container">

        <!-- Collapse Loader -->
        <div class="collapse-loader" style="z-index: 99999999; display: none;">
            <img src="svgs/ptt-loader.svg" alt="Loading...">
        </div>

        <!-- ui-sref="WebAppStep2" -->
        <button class="collapse-btn" ng-click="vm.toggleExpandView()">
            <!--<object data="svgs/gray-collapse.svg" type=""></object>-->
            <!--<img src="svgs/gray-collapse.svg" alt="">-->
            <img src="images/gray-collapse.png" alt="">
            <span>Collapse</span>
        </button>



        <div class="padding-right-22px">
            <div class="uploaded-images">
                <div class="img" ng-repeat="photo in vm.myPhotos">
                    <div class="img-container">
                    <img class="upl-img" ng-src="{{(photo.canvasDataUrl)?photo.canvasDataUrl:photo.base64}}" alt="" ptt-loader="loader-fb-photo" keep-aspect-ratio="true">
                    <div class="expand-icons">
                        <span class="copy" ng-click="vm.copyCanvas()"><img src="images/white-copy.png" alt=""></span>
                        <span class="dustbin" ng-click="vm.deleteCanvas()" ><img src="svgs/white-delete.svg" alt=""></span>
                        <!--<span class="dustbin"><object data="svgs/white-delete.svg" alt="" type="image/svg+xml"></object></span>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--
Content : End : Step 2 B
-->


<!--
Footer : Start
-->

<!--
Footer : End
-->
