<!--
Headers : Start
-->
<div ng-include="'src/dashboard/layouts/header.html'"></div>
<!--
Headers : End
-->

<!--
Content : Start
-->
<div class="step1">
    <div class="row text-center">
        <!--
        Left Div : Start
        -->
        <div class="left-div sub-content">
            <div class="upload-icons">
                <div class="upload-icon" ng-class="{'active': vm.uploadCategory=='device'}" ng-click="vm.changeUploadCategory('device')">
                    <div class="custom-svg-icon" >
                        <img src="images/gray-device-cloud.png" alt="Computer" ng-show="vm.uploadCategory!='device'">
                        <img src="images/blue-device-cloud.png" alt="Computer" ng-show="vm.uploadCategory=='device'">
                        <div class="object-backdrop"></div>
                    </div>
                    <div class="title">
                        Upload from Computer
                    </div>
                </div>
                <div class="upload-icon" ng-class="{'active': vm.uploadCategory=='facebook'}" ng-click="vm.changeUploadCategory('facebook')">
                    <div class="custom-svg-icon">
                        <img src="svgs/gray-facebook.svg" alt="facebook" ng-if="vm.uploadCategory!='facebook'">
                        <img src="svgs/blue-facebook.svg" alt="facebook" ng-if="vm.uploadCategory=='facebook'">
                        <div class="object-backdrop"></div>
                    </div>
                    <div class="title">
                        Import from Facebook
                    </div>
                </div>
                <div class="upload-icon" ng-class="{'active': vm.uploadCategory=='instagram'}" ng-click="vm.changeUploadCategory('instagram')">
                    <div class="custom-svg-icon">
                        <img src="svgs/gray-instagram.svg" alt="instagram" ng-if="vm.uploadCategory!='instagram'">
                        <img src="svgs/blue-instagram.svg" alt="instagram" ng-if="vm.uploadCategory=='instagram'">
                        <div class="object-backdrop"></div>
                    </div>
                    <div class="title">
                        Import from Instagram
                    </div>
                </div>
                <div class="upload-icon" ng-class="{'active': vm.uploadCategory=='flickr'}" ng-click="vm.changeUploadCategory('flickr')">
                    <div class="custom-svg-icon">
                        <img src="svgs/gray-flickr.svg" alt="flickr" ng-if="vm.uploadCategory!='flickr'">
                        <img src="svgs/blue-flickr.svg" alt="flickr" ng-if="vm.uploadCategory=='flickr'">
                        <div class="object-backdrop"></div>
                    </div>
                    <div class="title">
                        Import from Flickr
                    </div>
                </div>
                <div class="upload-icon" ng-class="{'active': vm.uploadCategory=='google'}" ng-click="vm.changeUploadCategory('google')">
                    <div class="custom-svg-icon">
                        <img src="svgs/gray-google.svg" alt="google" ng-if="vm.uploadCategory!='google'">
                        <img src="svgs/blue-google.svg" alt="google" ng-if="vm.uploadCategory=='google'">
                        <div class="object-backdrop"></div>
                    </div>
                    <div class="title">
                        Import from Google Photos
                    </div>
                </div>
            </div>
        </div>
        <!--
          Left Div : End
        -->

        <!--
          Right Div : Start
        -->
        <div class="right-div sub-content">

            <div class="jumbotron">
                <!-- Connected as -->
                <span ng-if="vm.uploadCategory!='device' && (vm.fbLogin || vm.instagramLogin || vm.flickrLogin || vm.googleLogin)" class="">
                    <!--<img src="images/profile_icon.png" alt="">-->
                    <img src="{{$root.user.socialPicture}}" alt="" onerror="this.src = 'images/user_profile_placeholder.png'">
                    <div class="description">
                        <div class="title">Connected as {{$root.user.socialName}}</div>
                        <div class="details"><a href="" ng-click="vm.socialDisconnect(vm.uploadCategory)">click here</a> to disconnect</div>
                    </div>
                </span>
                <!-- Device Drag & Drop -->
                <span ng-if="vm.uploadCategory=='device'" class="device">
                    <div class="description">
                        <div class="title">Drag & Drop</div>
                        <div class="details">or
                            <a class="cursor-pointer" ngf-select="vm.selectFiles($files)" multiple accept="image/*">browse</a>
                            your photo files</div>
                    </div>
                </span>
                <!-- Facebook Login Button -->
                <div ng-if="!vm.fbLogin && vm.uploadCategory=='facebook'" class="login-div fb-login-div">
                    <a class="fb-login" ng-click="vm.socialLogin('facebook')">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <span class="text">
                            <strong>Login</strong>
                            with
                            <strong>Facebook</strong>
                        </span>
                    </a>
                </div>
                <!-- Instagram Login Button -->
                <div ng-if="!vm.instagramLogin && vm.uploadCategory=='instagram'" class="login-div instagram-login-div">
                    <a class="instagram-login" ng-click="vm.socialLogin('instagram')">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="text">
                            <strong>Login</strong>
                            with
                            <strong>Instagram</strong>
                        </span>
                    </a>
                </div>
                <!-- Flickr Login Button -->
                <div ng-if="!vm.flickrLogin && vm.uploadCategory=='flickr'" class="login-div flickr-login-div">
                    <a class="flickr-login" ng-click="vm.socialLogin('flickr')">
                        <i class="fa fa-flickr" aria-hidden="true"></i>
                        <span class="text">
                            <strong>Login</strong>
                            with
                            <strong>Flickr</strong>
                        </span>
                    </a>
                </div>
                <!-- Google Login Button -->
                <div ng-if="!vm.googleLogin && vm.uploadCategory=='google'" class="login-div google-login-div">
                    <a class="google-login" ng-click="vm.socialLogin('google')">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        <span class="text">
                            <strong>Login</strong>
                            for
                            <strong>Google Photos</strong>
                        </span>
                    </a>
                </div>

            </div>

            <!-- Only for photos -->
            <div class="uploaded-images animate-if " ng-if="vm.showAlbumOrPhotos">
                <div class="img" ng-repeat="file in vm.filesToUpload"
                     ng-click="(!file.inProgress)?vm.addFilesToUploadQueue($index):null">
                    <!-- For device -->
                    <img ngf-thumbnail="file" alt="" ng-if="vm.uploadCategory=='device'">
                    <!-- For facebook, instagram, google, flickr photos -->
                    <img src="{{file.thumbnail}}" alt="" ptt-loader="loader-fb-photo" ng-if="vm.uploadCategory!='device'">
                    <div class="custom-svg-icon" ng-show="!file.inProgress">
                        <img src="svgs/gray-arrow-down.svg" alt="">
                    </div>
                    <div class="progress" ng-show="file.inProgress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}">
                        </div>
                    </div>
                </div>
                <!-- Upload All Files -->
                <div class="img img-upload-all" ng-if="vm.filesToUpload.length>1 && vm.showAllUploadButton" ng-click="vm.addFilesToUploadQueue()">
                    <div class="custom-svg-icon">
                        <img src="svgs/gray-arrow-down.svg" alt="">
                    </div>
                    <div class="add-all-photos">Add All Photos</div>
                </div>
            </div>

            <!-- only for facebook albums -->
            <div class="fb-albums animate-if" ng-if="vm.uploadCategory=='facebook' && vm.fbLogin && !vm.showAlbumOrPhotos">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="album in vm.fb.albums">
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square" ng-click="vm.chooseAlbum($index)">
                            <img src="{{album.picture.data.url}}" alt="" ptt-loader="loader-fb-album">
                        </div>
                        <p>{{album.name}} <span ng-show="vm.debug"> : count = {{album.count}}</span></p>
                    </div>
                </div>
            </div>

        </div>
        <!--
          Right Div : End
        -->

    </div>
</div>


<!-- Film Strip Thumbs : Start-->
<!--<div ng-include="'src/dashboard/upload/lightSlider1.html'"></div>-->
<ptt-photo-strip
        photos="vm.myPhotos"
        show-upload-image=""
        step=1
        on-delete="vm.deletePhoto(id, index)"
        on-select=""
        on-select-files="vm.selectFiles(files)"
        on-toggle-expand-view=""
        on-get-select-photo=""
>
</ptt-photo-strip>
<!-- Film Strip Thumbs : End-->


<!--
Content : End
-->


<!--
Footer : Start
-->

<!--
Footer : End
-->
